@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root{
    --jetonYellow: #ffff00a6;
    --jetonRed : #ff0000a8;
}
.btn{
    margin: 0.7em;
    padding: 1% 2%;
    cursor: pointer;

    border: none;

    font-size: x-large;
    font-family:'Outfit', sans-serif;
    background-color: #1f1f20;
    color: white;
    border-radius: 5px;

    border: 1px solid #333333;
    box-shadow: 0px 3px 3px 0px #333333;
}
.noWin{
    background-color: #1f1f20;
}
.btn:hover{
    box-shadow: #606063 0px 5px,    
    #3d3d3f 0px 10px
    , #2c2c2e96 0px 15px, 
    #1f1f2052 0px 20px, 
    #1f1f202f 0px 25px;

}
.btn:active{
    background-color: #535355;
}
.bigBtn{
    font-size: xx-large;
}
.fakeBtn:hover{
    cursor: default;
    box-shadow: none;
}
.alignscore
{
    display : flex;
    justify-content: space-around;
}
.border{
    border: #565a2f solid 2px;
    border-radius: 10px;
}
.center{
    display: flex;
    justify-content: center;
}
.relative{
    position: relative;
}
#auTourDe{
    display: none;
}
#plateau{
    margin-top: 120px;
    margin-bottom: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
}
.ligne{
    display: flex;
    flex-direction: row;
    width: auto;
}
.popupModel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #141414b7;
    
    display: none;
}
.popupModelContent{
    background-color: #19191a;
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    max-height: 60%;
    font-size: x-large;
    border: 1px solid #303031;
    overflow-y: auto;
}
.icon{
    background-color: #4e4e50;
    width: 32px;
    height: 32px;
}
.closeBtn{
    position: absolute;
    right: 0;
}
.header{
    text-align: center;
    background-color: #1f1f20;
    border-radius: 5px;
    margin-bottom: 1%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.header h1{
    width: 300px;
    font-size: 35px;
}

footer{
    position: justify;
    bottom: 0;
    width: auto;
    text-align: center;
    padding: 3px;
    border-top: 1px solid black;
}
.jeton{
    width : 70px;
    height: 70px;
    border-radius: 35px;
    margin: 1px;
    border: 4px solid rgb(59, 59, 59);
}
.jeton:hover{
    transform: scale(1.05);
}
.jeton_rouge{
    background-color: var(--jetonRed);
}
.jeton_jaune{
    background-color: var(--jetonYellow);
}
.jetonHoverRouge:hover{
    border: 4px solid var(--jetonRed);
}
.jetonHoverJaune:hover{
    border: 4px solid var(--jetonYellow);
}
.score{
    text-align: center;
    font-size: xx-large;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 20px;
}
#winBy{
    display: none;
}
#rules h1{
    max-width: 40%;
}
.sapcearound{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.column{
    display: flex;
    flex-direction: column;
}
body{
    font-family:'Outfit', sans-serif;
    background-color: #0E0E0F;
    color: white;
}
@media (hover: none){
    .jetonHoverRouge:hover{
        border: 4px solid rgb(59, 59, 59);
    }
    .jetonHoverJaune:hover{
        border: 4px solid rgb(59, 59, 59);
    }
}
@media screen and (max-width: 1280px)
{
    /* .jeton{
        width : 50px;
        height: 50px;
        border-radius: 25px;
        margin: 1px;
        border: 4px solid rgb(59, 59, 59);
    } */
}