.jeton{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 1px;
    border: 2px solid black;
}
.jetonHoverRouge:hover{
    background-color: rgb(253, 179, 179);
}
.jetonHoverJaune:hover{
    background-color: rgb(236, 229, 129);
}
.jeton:hover{
    transform: scale(1.05);
}
.jeton_rouge{
    background-color: red;
}
.jeton_jaune{
    background-color: yellow;
}
.jeton_rouge:hover{
    background-color: rgb(253, 179, 179);
}
.jeton_jaune:hover{
    background-color: rgb(236, 229, 129);
}
.alignspace{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.alignscore
{
    display : flex;
    justify-content: space-around;
}
#auTourDe{
    max-width: 60%;
    justify-content: center;
}
#plateau{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#recap-score{
    display: flex;
    flex-direction: column;

    border: 2px solid grey;
    width: 20%;
}
#end{
    display: none;
}
#restart{
    display: none;
}

h1{
    text-align: center;
    width: auto;
}
button{
    text-align: center;
    padding : 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}