@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

.jeton{
    width : 80px;
    height: 80px;
    border-radius: 40px;
    margin: 1px;
    border: 4px solid rgb(59, 59, 59);
}
.jetonHoverRouge:hover{
    background-color: rgb(253, 179, 179);
}
.jetonHoverJaune:hover{
    background-color: rgb(236, 229, 129);
}
.jeton:hover{
    transform: scale(1.05);
}
.jeton_rouge{
    background-color: red;
}
.jeton_jaune{
    background-color: yellow;
    /* background-color: yellow; */
}
.jeton_rouge:hover{
    background-color: rgb(253, 179, 179);
}
.jeton_jaune:hover{
    background-color: rgb(236, 229, 129);
}
.alignspace{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.alignscore
{
    display : flex;
    justify-content: space-around;
}
.border{
    border: #565a2f solid 2px;
    border-radius: 10px;
}
.btn{
    margin: 10px;
}
#auTourDe{
    display: none;
    font-size: x-large;
}
#plateau{
    min-width: 650px;
}
#recap-score{
    background-color: #1f1f20;
    width: 500px;
    padding: 10px;
    border-radius: 7px;
}
#restart{
    display: none;
}
body{
    font-family:'Outfit', sans-serif;
    background-color: #0E0E0F;
    color: white;
}
header{
    background-color: #1f1f20;
    padding: 3px;
    margin-bottom: 10px;
}
footer{
    position: justify;
    bottom: 0;
    width: auto;
    text-align: center;
    padding: 3px;
    border-top: 1px solid black;
}