.jeton{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 1px;
    border: 2px solid black;
    background-color: white;
}
@media screen {
    
}
.jetonHoverRouge:hover{
    background-color: rgb(253, 179, 179);
}
.jetonHoverJaune:hover{
    background-color: rgb(236, 229, 129);
}
.jeton:hover{
    transform: scale(1.05);
}
.jeton_rouge{
    background-color: red;
}
.jeton_jaune{
    background-color: yellow;
    /* background-color: yellow; */
}
.jeton_rouge:hover{
    background-color: rgb(253, 179, 179);
}
.jeton_jaune:hover{
    background-color: rgb(236, 229, 129);
}
.alignspace{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.alignscore
{
    display : flex;
    justify-content: space-around;
}
.border{
    border: #565a2f solid 2px;
    border-radius: 10px;
}
#plateau{
    background-color: #33351b;
    width: 450px;
}
#recap-score{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    width: 20%;
}
#end{
    display: none;
}
#restart{
    display: none;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0E0E0F;
    color: white;
}
header{
    max-width: 800px;
    margin: 1%;
    background-color: #33351b;
}
button{
    text-align: center;
    padding : 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    position: justify;
    bottom: 0;
    width: auto;
    text-align: center;
    padding: 3px;
    border-top: 1px solid black;
}